@import '~bulma/sass/utilities/initial-variables.sass';

@import url('https://fonts.googleapis.com/css?family=Poppins');

$primary:             #60C1E8;
$family-primary:      "Poppins", "Roboto", "Helvetica Neue", "Helvetica", sans-serif;

$column-gap:          2.0rem;
