@import '../../styles/variables';

.shift {
  padding-top: 4px;
  padding-bottom: 4px;
}

.full {
  height: 100% !important;
  width: 100% !important;
}

.container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  border: 16px solid $black;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 12px;
  min-height: 30% !important;
  min-width: 40% !important;
}

.row {
  display: flex;
  align-self: center;
}

.column {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}

.color-improve {
  color: $primary;

  &:hover {
    color: $dark;
  }
}